trigger:
  branches:
    include:
      - main

variables:
  imageName: sampleapi
  tag: $(Build.BuildId)
  acrName: acrdevopsdemo123
  acrLoginServer: acrdevopsdemo123.azurecr.io

stages:
# ---------------- CI ----------------
- stage: Build
  displayName: Build and Push Docker Image
  jobs:
  - job: DockerBuild
    pool:
      name: Default   # SELF-HOSTED AGENT POOL
    steps:
    - task: AzureCLI@2
      displayName: Build and Push Image
      inputs:
        containerRegistry: 'azure-sc-aks-acr'
        repository: $(imageName)
        command: 'buildAndPush'
        Dockerfile: '**/Dockerfile'
        tags: |
          $(tag)
          latest

# ---------------- CD ----------------
- stage: Deploy
  displayName: Deploy to AKS
  dependsOn: Build
  jobs:
  - deployment: AKSDeploy
    environment: 'dev'
    strategy:
      runOnce:
        deploy:
          steps:
          - task: KubernetesManifest@1
            displayName: Deploy to AKS
            inputs:
              action: deploy
              kubernetesServiceConnection: 'aks-service-connection'
              manifests: |
                k8s/deployment.yaml
                k8s/service.yaml
              containers: |
                $(acrLoginServer)/$(imageName):$(tag)