trigger:
  branches:
    include:
      - main

variables:
  imageName: sampleapi
  tag: $(Build.BuildId)
  acrName: acrdevopsdemo123
  acrLoginServer: acrdevopsdemo123.azurecr.io

stages:
- stage: Build
  displayName: Build and Push Docker Image
  jobs:
  - job: DockerBuild
    displayName: Docker Build and Push
    pool:
      name: Default   # SELF-HOSTED AGENT POOL
    steps:
    - task: AzureCLI@2
      displayName: Login to ACR, Build & Push Image
      inputs:
        azureSubscription: azure-sc-aks-acr
        scriptType: pscore
        scriptLocation: inlineScript
        inlineScript:
          echo "Logging into ACR"
          az acr login --name $(acrName)

          echo "Building Docker image"
          docker build -t $(acrLoginServer)/$(imageName):$(tag) -t $(acrLoginServer)/$(imageName):latest app

          echo "Pushing Docker image"
          docker push $(acrLoginServer)/$(imageName):$(tag)
          docker push $(acrLoginServer)/$(imageName):latest

