trigger:
  branches:
    include:
      - main

variables:
  imageName: sampleapi
  tag: $(Build.BuildId)
  acrName: acrdevopsdemo123
  acrLoginServer: acrdevopsdemo123.azurecr.io

stages:
- stage: Build
  displayName: Build and Push Docker Image
  jobs:
  - job: DockerBuild
    displayName: Docker Build and Push
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: Docker@2
      displayName: Build and Push Image
      inputs:
        containerRegistry: 'azure-service-connection'
        repository: $(imageName)
        command: 'buildAndPush'
        Dockerfile: '**/Dockerfile'
        tags: |
          $(tag)
          latest

